.row{
    background-color:#343435 ;
}
footer{
    color: rgb(253, 250, 250);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px  5px rgb(58, 58, 58);
}