<div class="row">
    <div><button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar Persona
    </button></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona?.img}} class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona?.nombre}} {{persona?.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Un poco sobre mí</h1>
            <p>{{persona?.descripcion}}</p>
            <p>En Marzo de 2022 decidí cambiar de rubro y empecé a
                estudiar programación de manera sincrónica y autodidacta.
                Hoy día, sigo formándome en el mundo de la programación y a la
                misma vez estoy en la búsqueda de mi primer empleo en el ámbito
                de programación, en cualquier modalidad, en un ambiente de
                trabajo inspirador que me permita la oportunidad de crecer y
                seguir desarrollando mis habilidades blandas como técnicas o
                algún trabajo part-time en el sector de atención al cliente que me
                permita seguir estudiando.</p>
            <p class="ultima">Así mismo, si deseas saber más de mí te invito a revisar mi Curriculum Vitae, el cual puedes descargar del siguiente link : <a href="https://drive.google.com/file/d/1u219mLqbL4e0LnpPSPLl9E92kVUhizDP/view">Descargar CV</a></p>
        </span>
    </div>
</div>
