.row{
    padding: 20px;
    /*background-color:#dbdede ;*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.contenedor{
    width: auto;
}

a {
    font-weight: bold;
}
.parte1, .parte2 {
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 5px #000000;

}